<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Favs</title>
  </head>
  <body>
    hi
    <ul>
      <% @links.each do |link| %>
      <li><a href="<%= link %>"><%= link %></a></li>
      <% end %>
    </ul>
  </body>
</html>
